<%- include('header') %>
<div class="container">
        <h2>Admin</h2>
        <ul>
            <li><a href="/admin/categoria">Gerenciar Categoria</a></li>
            <li><a href="/admin/vagas">Gerenciar Vagas</a></li>
        </ul>
</div>
<%- include('footer') %>