<!-- HEADER -->
<%- include('header') %>

<div class="container">
    <h2>nova Categoria: <a href="/admin/categoria">categoria</a> </h2>
    
        <form method="POST">
            <label>Categoria:</label>
            <input type="text" name="categoria" placeholder="Digite o nome da  nova categoria" />
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</div> <!-- FIM CONTAINER-->


<!--  FOOTER -->
<%- include('footer') %>